<%- include('./header.ejs') %>

<input type="hidden" id="current" name="current" value="<%= current %>">

<script>
    const current = document.getElementById('current').value;
    let objectCurrent = JSON.parse(current);
    console.log(objectCurrent)
  </script>

      <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-sm-12 col-xs-12"> 
                   <div class="card p-4">    
                    
                       <div class="d-flex">
                           <h6 class="flex-grow-1"><%= city  %> </h6>
                           <h6><%= time %> </h6>
                       </div>
                        
                       <div class="d-flex flex-column temp mt-5 mb-3">
                           <h1 class="mb-0 font-weight-bold" id="heading"><%= JSON.parse(current)[0]['temp_C'] %>&deg; C </h1>
                           <span class="small grey"><%= JSON.parse(current)[0]['lang_id'][0]['value'] %> </span>
                       </div>
                       
                       <div class="d-flex">
                           <div class="temp-details flex-grow-1">
                                <p class="my-1">
                                    <img src="https://i.imgur.com/B9kqOzp.png" height="17px" >
            
                                   <span> <%= JSON.parse(current)[0]['windspeedKmph'] %> km/h  </span>
                                </p>

                                <p class="my-1"> 
                                   <i class="fa fa-tint mr-2" aria-hidden="true"></i>
                                   <span> <%= JSON.parse(current)[0]['humidity'] %> %</span> 
                                </p>

                                <p class="my-1"> 
                                    <img src="https://i.imgur.com/wGSJ8C5.png" height="17px" >
                                    <span> 0.2h </span>
                                </p>
                           </div>
                           
                           <div>
                               <img src="https://i.imgur.com/Qw7npIg.png" width="100px">
                           </div>
                           
                           
                       </div>
                        
          
                    </div>
            </div>
        </div>


    </div>

</body>
</html>

<%- include('./footer.ejs') %>