<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p><%= JSON.stringify(data) %></p> -->
    <input type="hidden" name="weather" id="weather" value="<%= JSON.stringify(data) %>">
    <input type="hidden" name="config" id="config" value="<%= JSON.stringify(config) %>">
    

    <form action="/weather" method="get">
      <input type="text" name="city">
      <button class="btn btn-success">apply</button>
    </form>
    <style>
      canvas{

        width:1000px !important;
        height:600px !important;
      
      }
    </style>
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const labels = [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
        ];
      
        const d = {
          labels: labels,
          datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
          }]
        };
      
        const configElement = document.getElementById('config').value;

        console.error(configElement)
        
        const config = {
          type: 'line',
          data: d,
          options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            JSON.parse(configElement)
            );
      </script>

    <script>
        const weather = document.getElementById('weather');
        const data = JSON.parse(weather.value);
        console.log(data)
    </script>


</body>
</html>